BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
AccessModifierOffset: -3
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: false
AllowShortFunctionsOnASingleLine: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
